<div class="page">
	<br>
    <div class="title" style="text-align: center;"><h1>Pesquisa por nome da parte</h1></div>
</div>    

<div id="divPesquisa">
  <%# <input type="text" id="txtPesquisa" placeholder="Nome da parte"/> %>
  <%# <button id="btnPesquisa">Pesquisar</button> %>
  <%= form_tag("/search/doSearch", method: 'post', :id => 'formPesquisa') do %>
    <%= text_field_tag 'txtPesquisa', '', placeholder: 'Nome da Parte' %>
    <%= submit_tag 'Pesquisar' , 'id' => 'btnPesquisa'%>
  <% end %>
</div>