<div class="page">
	<br>
    <div class="title" style="text-align: center;"><h1>Pesquisa por nome da parte</h1></div>
</div>    

<div id="divPesquisa">
  <input type="text" id="txtPesquisa" placeholder="Pesquisar..."/>
  <button id="btnPesquisa">Pesquisar</button>
</div>