<div class="page">
	<br>
    <div class="title" style="text-align: center;"><h1>Resultado da pesquisa</h1></div>
</div>   
<% if @processos.length > 0%>
    <%= render 'table' %>
    <input type="button" value="select table"
                onclick="selectElementContents( document.getElementById('tableResults') );">
<% else %>
    <div style="text-align: center;">
        <br>
        <br>
        <h4>Não foi encontrado resultados para o Nome informado.</h4>
        <%= link_to "Voltar", search_index_path ,class: "btn btn-sm btn-primary" %>
        <%= link_to 'Export Not Valid', {:controller => "negative", :action => "notValidToProccess", 
            :nome_parte => @nome_parte, :polo => @polo, :doc => @doc }, target: "_blank" %>

        <%= link_to 'Export Valid', {:controller => "negative", :action => "validToProccess", 
            :nome_parte => @nome_parte, :polo => @polo, :doc => @doc, :mother => @mother }, target: "_blank" %>
            
    </div>
<% end %>