.header {
    background-color: #f3f3f4;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.25);
}

#logo-header {
    max-height: 100%;
}

.logout {
    text-align: end;
}

.sign-out {
    color: #676a6c
}

.sign-out:hover {
    color: #555657;
}