<div class="row h-10 p-1 pl-3 pr-3 header align-self-start justify-content-between no-gutters">
    <div class="col-3">
        <img alt="image" id="logo-header" src="<%= image_url 'logo-tj.png' %>"/>
        <span>SiN - Certis
    </div>
    <div class="col">
        <%= content_for(:title) %>
    </div>
    <div class="col-3 align-self-center logout pr-3"> 
        <div class="row justify-content-end">
            <span>Bem vindo, <%= current_user.name %>!</span>
        </div>
        <div class="row justify-content-end">
            <span>sair</span>
        </div>
    </div>
</div>