<div class="row p-1 pl-3 pr-3 header align-self-start justify-content-between no-gutters">
    <div class="col-4">
        <img alt="image" id="logo-header" src="<%= image_url 'logo-tj.png' %>"/>
        <span>SiN - Certis
    </div>
    <div class="col">
        <%= content_for(:title) %>
    </div>
    <div class="col-4 align-self-center logout pr-3"> 
        <div class="row justify-content-end">
            <span>Bem vindo(a), <%= current_user.name %>!</span>
        </div>
        <div class="row justify-content-end">
            <%= link_to fa_icon("sign-out", text: "Sair") , destroy_user_session_path, class: "sign-out", data: { method: :delete }  %>
        </div>
    </div>
</div>